body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}

.sidebar{
    background-color: #0099E6;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    padding: 0px 30px 0px 0px;  
    align-items: center;
    color: white;
}

.logo > svg{
    width: 50px;
    padding: 10px;
    fill: white;
}

.sidebar > ul > li{
    display: flex;
    align-items: center;
    width: 250px;
    padding: 15px 22.5px 15px 22.5px;
    fill: white;
}

li > svg{
    width: 25px;
}

li > a{
    padding-left: 20px;
    color: white;
    font-size: 24px;
}

.maincontent{
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.profile{
    display: flex;
    flex-direction: column;
}

.tophalf{
    background-color: white;
    display: grid;
    grid-template-columns: 80px 800px 2fr 6fr;
    grid-template-rows: 50px;
    padding: 20px 60px 0px 20px;
}

.tophalf > .searches{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    gap: 12px;
}

.tophalf > .searches > svg{
    width: 30px;
}

.notifs{
    display: flex;
    gap: 24px;
    grid-column: 4/5;
    grid-row: 1 / 2;
    font-size: 24px;
    justify-content: flex-end;
}
.notifs > svg{
    width: 30px;
}
.notifs > h5{
    margin: 0;
    align-self: center;
}

.tophalf > .searches > input{
    border-radius: 32px;
    border-color: transparent;
    background-color: #B3F2FF;
    width: 800px;
    height: 30px;
}

.tophalf > img{
    width: 50px;
}

.leftside > img{
    width: 100px;
    align-self: center;
    justify-self: center;
}

.bottomhalf{
    background-color: white;
    display: grid;
    grid-template-columns: 6fr 4fr;
    box-shadow: 0px 10px 8px -8px rgba(0, 0, 0, 0.3);
}

.leftside{
    display: grid;
    grid-template-columns: 1fr 6fr;
    font-size: 18px;
    padding: 20px 0px 0px 20px;
}

.rightside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.rightside > button{
    color: white;
    background-color: #0099E6;
    border-color: transparent;
    border-radius: 32px;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.major{
    background-color: #DAE2ED;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 2 / -1;
    padding-top: 20px;
}

.projects{
    padding: 0px 10px 0px 20px;
}

.projectlist{
    display: grid;
    grid-template-rows: 70px repeat(autofit, minmax(250px, 1fr));
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.announcements{
    padding: 0px 20px 0px 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.projectcard{
    background-color: white;
    border-radius: 18px;
    padding: 20px 30px 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 12px solid #FFCC00;
}

.projectcard > h5{
    font-size: 18px;
    margin: 0;
}

.projectcard > p{
    margin: 5px 30px 50px 0px;
    font-size: 16px;
    color: darkgray;
}

.projectcard > .svgs{
    display: flex;
    justify-content: flex-end;
    /* width: 50px; */
    height: 50px;
    gap: 24px;
}

.svgs > svg{
    width: 25px;
}


.announcecard{
    display: flex;
    padding: 40px 30px 40px 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.announcecard > ul{
    margin: 0;
}

.announcecard h6{
    font-size: 16px;
    margin: 0;
}

.announcecard p{
    font-size: 12px;
    margin: 8px;
    color: grey;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcecard img{
    width: 50px;
    border-radius: 25px;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hellomsg{
    padding: 10px 0px 10px 0px;
}

.hellomsg > h6{
    color: darkgray;
    font-size: 12px;
}

hr{
    color: lightgray;
}